{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}
    {% endblock %} | LetMeKnow</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'commenter/css/normalize.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'commenter/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'commenter/css/bootstrap.min.css' %}" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'commenter/css/main.css' %}" type="text/css" />

</head>
    <body>
    <header>
    <div class="container clearfix">
        <h1 id="logo">
             <a href="{% url 'home' %}">let me know</a>
        </h1>
        <nav>
            <ul id="lava_menu" class="lavaLampWithImage">
                <li><a href="/"><i class="fa fa-home fa-fw" aria-hidden="true"></i>Homepage</a></li>
                {% if request.user.is_authenticated %}
                    <li><a href=""><i class="fa fa-user-circle fa-fw" aria-hidden="true"></i>{{ request.user.username }}</a></li>
                    <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out fa-fw" aria-hidden="true"></i>Logout</a></li>
                    <li><a href=""><i class="fa fa-comments fa-fw" aria-hidden="true"></i>Comment</a></li>
                {% else %}
                     <li><a href="{% url 'login' %}"><i class="fa fa-sign-in fa-fw" aria-hidden="true"></i>Login</a></li>
                    <li><a href="{% url 'register' %}"><i class="fa fa-user-circle fa-fw" aria-hidden="true"></i>Sign up</a></li>
                {% endif %}


            </ul>


        </nav>
    </div>
</header><!-- /header -->


    {% block body %}
    {% endblock %}
    <script src="{% static 'commenter/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'commenter/js/main.js' %}"></script>
    <script src="{% static 'commenter/js/classie.js' %}"></script>
    <script src="{% static 'commenter/js/bootstrap.min.js' %}"></script>
      {% block script %}
    {% endblock %}
    </body>
</html>