{% extends "commenter/base.html" %}
{% block title %}Homepage{% endblock %}
{% block body %}

<div class="container">

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">


             <form id="searchform" action="{% url 'list-search' %}" method="get" accept-charset="utf-8">

                  <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Search for reviews or products">
                 &nbsp;<i class="fa fa-search"></i>
            </form>



        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-6">

            <h2>Son Yorumlar</h2>

            {% for obj in comment_series_list %}

            <p><a href=" {% url 'commentdetails' pk=obj.pk %}"> {{ obj.title }}</a> <span>{{ obj.creation_date|date:"Y-m-d" }}</span></h1></p>

            {% endfor %}


        </div>
        <div class="col-md-6">


            <h2>Yorum yapılmış Ürünler</h2>
                {% for prd in product_series_list %}
            <p><a href=" {% url 'product_comment_list' pk=prd.pk %}"> {{ prd.name }} </a></p>

                {% endfor %}

        </div>

    </div>
    </div>
{% endblock %}
