{% extends "commenter/base.html" %}
{% block title %}Homepage{% endblock %}
{% block body %}
<div class="comment-container" style="border:solid 2px grey; margin:20px; padding:20px;">
<h1>LetMeKnow Son Yorumlar</h1>

{% for obj in comment_series_list %}

<p><a href=" {% url 'commentdetails' pk=obj.pk %}"> {{ obj.title }}</a> <span>{{ obj.creation_date|date:"Y-m-d" }}</span></h1></p>

{% endfor %}

</div>
<div class="comment-container" style="border:solid 2px grey; margin:20px; padding:20px;">

<h1>Yorum yapılmış Ürünler</h1>
    {% for prd in product_series_list %}
<p><a href=" {% url 'product_comment_list' pk=prd.pk %}"> {{ prd.name }} </a></p>

    {% endfor %}
</div>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis nulla non augue pulvinar finibus ut sit amet turpis. Praesent vitae erat eget nunc ornare finibus sit amet cursus mauris. Maecenas ac sapien non leo condimentum bibendum. Duis dignissim mollis tortor id pharetra. Suspendisse id semper mauris. Nunc eget ex vel ex varius gravida. Etiam bibendum est at lectus aliquam, at euismod lorem fermentum. Curabitur eleifend arcu lacinia interdum aliquet. Proin odio lacus, rutrum a enim a, auctor scelerisque ligula. In non tristique tortor. Mauris ut nisi sit amet tortor faucibus pulvinar. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus mauris tellus, finibus quis interdum in, tristique vestibulum leo.

Etiam aliquet ex tempus risus lobortis aliquam. Fusce placerat risus orci, at consectetur mauris facilisis sed. Vestibulum sed semper lacus. Praesent tellus magna, varius eu tempus nec, euismod eget velit. Aenean non faucibus velit. Vestibulum nunc leo, fringilla ut porttitor eget, sollicitudin at metus. Donec a faucibus elit, quis convallis nibh.

Nam vitae vestibulum erat. Nulla hendrerit volutpat ullamcorper. Nullam risus erat, convallis non lectus nec, cursus lobortis mi. Aliquam accumsan varius dictum. Ut pretium nibh eget egestas porta. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras id semper velit. Donec condimentum semper metus nec ullamcorper. Cras suscipit dui non euismod luctus. Sed tempor ligula massa, nec vestibulum purus hendrerit ac. In feugiat rutrum accumsan. Sed nec nisl ut ex pellentesque suscipit. Ut mollis ligula nec libero tristique scelerisque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque consequat lobortis ligula, et tincidunt ex blandit eu. Sed non velit ut purus fringilla vehicula at id odio.

Nam vulputate a ex nec sodales. Donec sollicitudin libero eget lectus porttitor, et maximus libero ultrices. Etiam at sem sed mi ullamcorper pretium at id nulla. Praesent iaculis mollis ligula quis auctor. Sed erat felis, condimentum vitae hendrerit id, ullamcorper quis dui. Mauris rutrum erat vel massa elementum vestibulum. Aenean ac dui vitae felis fringilla finibus nec et neque. Integer ut ex id ligula tempus convallis sed tristique augue. Maecenas enim justo, efficitur a erat eget, accumsan finibus urna. Suspendisse sodales dui ac fermentum vulputate.

Ut elit sem, condimentum at odio nec, pellentesque maximus tortor. Donec non ipsum et ante rutrum dapibus ut vel urna. Suspendisse potenti. Vestibulum consequat pharetra sapien facilisis auctor. Sed bibendum vestibulum nulla vel volutpat. Donec convallis maximus gravida. Maecenas eu facilisis diam. Aliquam semper tincidunt sapien, ac ultricies erat interdum a. Quisque odio enim, ullamcorper quis pretium sit amet, maximus at tellus. </p>
<p>

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis nulla non augue pulvinar finibus ut sit amet turpis. Praesent vitae erat eget nunc ornare finibus sit amet cursus mauris. Maecenas ac sapien non leo condimentum bibendum. Duis dignissim mollis tortor id pharetra. Suspendisse id semper mauris. Nunc eget ex vel ex varius gravida. Etiam bibendum est at lectus aliquam, at euismod lorem fermentum. Curabitur eleifend arcu lacinia interdum aliquet. Proin odio lacus, rutrum a enim a, auctor scelerisque ligula. In non tristique tortor. Mauris ut nisi sit amet tortor faucibus pulvinar. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus mauris tellus, finibus quis interdum in, tristique vestibulum leo.

Etiam aliquet ex tempus risus lobortis aliquam. Fusce placerat risus orci, at consectetur mauris facilisis sed. Vestibulum sed semper lacus. Praesent tellus magna, varius eu tempus nec, euismod eget velit. Aenean non faucibus velit. Vestibulum nunc leo, fringilla ut porttitor eget, sollicitudin at metus. Donec a faucibus elit, quis convallis nibh.

Nam vitae vestibulum erat. Nulla hendrerit volutpat ullamcorper. Nullam risus erat, convallis non lectus nec, cursus lobortis mi. Aliquam accumsan varius dictum. Ut pretium nibh eget egestas porta. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras id semper velit. Donec condimentum semper metus nec ullamcorper. Cras suscipit dui non euismod luctus. Sed tempor ligula massa, nec vestibulum purus hendrerit ac. In feugiat rutrum accumsan. Sed nec nisl ut ex pellentesque suscipit. Ut mollis ligula nec libero tristique scelerisque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque consequat lobortis ligula, et tincidunt ex blandit eu. Sed non velit ut purus fringilla vehicula at id odio.

Nam vulputate a ex nec sodales. Donec sollicitudin libero eget lectus porttitor, et maximus libero ultrices. Etiam at sem sed mi ullamcorper pretium at id nulla. Praesent iaculis mollis ligula quis auctor. Sed erat felis, condimentum vitae hendrerit id, ullamcorper quis dui. Mauris rutrum erat vel massa elementum vestibulum. Aenean ac dui vitae felis fringilla finibus nec et neque. Integer ut ex id ligula tempus convallis sed tristique augue. Maecenas enim justo, efficitur a erat eget, accumsan finibus urna. Suspendisse sodales dui ac fermentum vulputate.

Ut elit sem, condimentum at odio nec, pellentesque maximus tortor. Donec non ipsum et ante rutrum dapibus ut vel urna. Suspendisse potenti. Vestibulum consequat pharetra sapien facilisis auctor. Sed bibendum vestibulum nulla vel volutpat. Donec convallis maximus gravida. Maecenas eu facilisis diam. Aliquam semper tincidunt sapien, ac ultricies erat interdum a. Quisque odio enim, ullamcorper quis pretium sit amet, maximus at tellus. </p>
{% endblock %}
