{% extends "commenter/base.html" %}
{% block title %}Comment #{{ object.id }}{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div style="background:#c0c0c0; padding:10px">

            <img src="{{ object.photo.url }}" style="width:100px; border:1px solid #000; float:left; margin:5px 10px 0 0"/>
            <h3>{{ object.title |truncatechars:50 }}</h3>
            <p>{{ object.message }}</p>

        </div>
    </div>
</div>

<div class="container">
    <div class="row">

        <b> <p style="color:#660000 ">Bu yorumu faydalı buluyor musunuz?</p> </b>

        <span id="like_{{ object.id }}">{{object.like}}</span>
        <a onclick="like(true, {{ object.id }})">
            <i class="fa fa-thumbs-o-up fa-2x " style="color: #660000" aria-hidden="true"></i>

        </a>&nbsp;&nbsp;
        <span id="dislike_{{ object.id }}">{{object.dislike}}</span>
        <a onclick="dislike(true, {{ object.id }})">
            <i class="fa fa-thumbs-o-down fa-2x" style="color:  #004d4d" aria-hidden="true"></i>

        </a>
    </div>
</div>


<script>
    function like(param, id) {
        $.post({
            data: {
                "like": param,
                "id": id,
                "csrfmiddlewaretoken": getCookie('csrftoken')
            },
            url: "{% url "like_dislike" %}",
            success: function (data) {
                $("#like_"+data.id).text(data.like)
            }
        })
    }

    function dislike(param, id) {
        $.post({
            data: {
                "dislike": param,
                "id": id,
                "csrfmiddlewaretoken": getCookie('csrftoken')
            },
            url: "{% url "dislike" %}",
            success: function (data) {
                $("#dislike_"+data.id).text(data.dislike)
            }
        })
    }
</script>

{% endblock %}