{% extends "commenter/base.html" %}
{% block title %}Comment #{{ object.id }}{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="comment_box">
            <h3>Comment for <a href="{% url 'product_comment_list' pk=object.product.pk %}">{{ object.product.name }}</a></h3>
            <img src="{{ object.photo.url }}" class="pull-left" style="width:20%; "/>
            <div>
                <h3>{{ object.title |truncatechars:50 }}</h3>
                <p>{{ object.message }}</p>
            </div>
            <div style="clear: both;"></div>

        </div>

        <div class="like_box">
            <div style="padding:10px; background:rgba(127, 194, 206, .5);margin-top:1px">
                <p class="question"><i class="fa fa-question-circle" aria-hidden="true"></i>
    Bu yorumu faydalı buluyor musunuz?</p>
                    <span id="like_{{ object.id }}">{{object.like}}</span>
                <a class="btn" onclick="like(true, {{ object.id }})">
                    <i class="fa fa-thumbs-o-up fa-2x " aria-hidden="true"></i>
                </a>&nbsp;
                <span id="dislike_{{ object.id }}">{{object.dislike}}</span>
                <a class="btn" onclick="dislike(true, {{ object.id }})">
                    <i class="fa fa-thumbs-o-down fa-2x " aria-hidden="true"></i>
                </a>&nbsp;&nbsp;
            </div>

        </div>
    </div>

</div>


<script>
    function like(param, id) {
        $.post({
            data: {
                "like": param,
                "id": id,
                "csrfmiddlewaretoken": getCookie('csrftoken')
            },
            url: "{% url "like_dislike" %}",
            success: function (data) {
                $("#like_"+data.id).text(data.like)
            }
        })
    }

    function dislike(param, id) {
        $.post({
            data: {
                "dislike": param,
                "id": id,
                "csrfmiddlewaretoken": getCookie('csrftoken')
            },
            url: "{% url "dislike" %}",
            success: function (data) {
                $("#dislike_"+data.id).text(data.dislike)
            }
        })
    }
</script>

{% endblock %}