{% extends "commenter/base.html" %}
{% block title %}Login{% endblock %}
{% block body %}
{% load bootstrap3 %}
<div class="container ">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
                <form action="." method="post" class="form">
                    <h2 class="form-signin-heading">Please sign in</h2>
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">
                    {% bootstrap_form form %}
                    {% buttons %}
                        <button type="submit" class="btn btn-primary">
                            {% bootstrap_icon "glyphicon glyphicon-send" %} Submit
                        </button>
                    {% endbuttons %}
                </form>
        </div>
    </div>
</div>
{% endblock %}
