/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v13/UyBMtLsHKBKXelqf4x7VRQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v13/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://fonts.gstatic.com/s/lato/v13/ObQr5XYcoH0WBoUxiaYK3_Y6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://fonts.gstatic.com/s/lato/v13/H2DMvhDLycM56KNuAtbJYA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* =Header
-------------------------------------------------------------- */
header {
  width: 100%;
  height: 150px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #2f8c9d;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s; }
  header h1#logo {
  font-family: 'Pacifico', cursive;
    display: inline-block;
    height: 150px;
    margin:0 0 0 20px;
    line-height: 150px;
    float: left;
    font-size: 45px;
    color: white;
    font-weight: 400;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    header h1#logo a{
       color:#bee5ec;
    }
  header nav {
    display: inline-block;
    float: right;
    margin-right:20px;
    }
    header nav ul li.current a:hover{
    color:#024b58;
    }
    header nav a {
      line-height: 150px;
      margin-left: 20px;
      font-size: 18px;
      color: #bee5ec;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
      header h1#logo a:hover  {
        color: white; }
  header.smaller {
    height: 75px; }
    header.smaller h1#logo {
      height: 75px;
      line-height: 75px;
      margin:0 0 0 20px;
      font-size: 30px; }
    header.smaller nav a {
      line-height: 70px;
      font-size:16px;
       }

/* =Footer
-------------------------------------------------------------- */
/* =Extras
-------------------------------------------------------------- */
.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0; }

/* =Media Queries
-------------------------------------------------------------- */
@media all and (max-width: 660px) {
  /* =Header
  -------------------------------------------------------------- */
  header h1#logo {
    display: block;
    float: none;
    margin: 0 auto;
    height: 100px;
    line-height: 100px;
    text-align: center;
 }
  header nav {
    display: block;
    float: none;
    height: 50px;
    text-align: center;
    margin: 0 auto; }
    header nav a {
      line-height: 50px;
      margin: 0 10px; }
  header.smaller {
    height: 75px; }
    header.smaller h1#logo {
      height: 40px;
      line-height: 40px;
      font-size: 30px; }
    header.smaller nav {
      height: 35px; }
      header.smaller nav a {
        line-height: 35px; } }
@media all and (max-width: 600px) {
  .container {
    width: 100%; }

  #info-bar a {
    display: block; }
  #info-bar span.all-tutorials,
  #info-bar span.back-to-tutorial {
    width: 100%; }
  #info-bar span.all-tutorials,
  #info-bar span.back-to-tutorial {
    float: none;
    text-align: center; }
  #info-bar span.all-tutorials {
    border-bottom: solid 1px #0793e2; } }


a {
    text-decoration:none;
    /*color:#bee5ec*/
    color:#0b7386;
}

a:hover{
    color:#024b58;
}
a:active{
}

body{
    font-family:"Lato","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    margin-top:170px;
}

.color1{
color:#bee5ec;
}
.color2{
color:#c2f0f0;
}

.color3{
   color:#239090;
}

.lavaLampWithImage {
  position: relative;
  height: 100px;
  padding: 15px 5px 15px 0;
  margin: 10px 0 0 0;
  overflow: hidden;
  float: right;
}

header.smaller .lavaLampWithImage{
    margin:0;
    height:70px;
    padding:0 5px 15px 0;
    margin-top:-10px;
}

.lavaLampWithImage li {
  float: left;
  list-style: none;
  max-width: auto
}

.lavaLampWithImage li.back {
  background: #7fc1ce;
  height: 80px;
  z-index: 8;
  position: absolute;
  margin:10px 4px 4px 4px;
}

.lavaLampWithImage li a {
  text-decoration: none;
  outline: none;
  text-align: center;
  letter-spacing: 0;
  z-index: 10;
  display: block;
  float: left;
  line-height: 75px;
  padding: 12px 0px 0 3px;
  position: relative;
  overflow: hidden;
  margin: auto 16px;
}

.lavaLampWithImage li a:hover, .lavaLampWithImage li a:active, .lavaLampWithImage li a:visited {
  border: none;
}